html {
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
}

body {
	background-color: #D3D3D3;
}

h1 {
	padding-top: 40px;
	font-size: 3rem;
}

header {
	height: 200px;
	background-color: gray;
}

main li {
	list-style: none;
	line-height: 30px;
}

main .main-list:hover {
	background-color: gray;
}

.logo {
	text-align: left;
	list-style: none;
	width: 70%;
	display: inline-block;
	position: relative;
}

.navig{
	display: inline-block;
	width: 80%;
}

a {
	text-decoration: none;
	color: black;
}


.button {
	background-color: red;
	width: 10%;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	margin-right: auto;
	margin-left: auto;
/*	border-radius: 10px;*/

}

main {
	clear: both;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 10px;
	padding-bottom: 15px;
	overflow: auto;
}

.list {
	background-color: #C0C0C0;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}

h3 {
	background-color: gray;
	color: white;
	padding: 7px;
}

.vendor-list {
	margin-top: 10px;
}

.product-list-ul {
	display: inline-block;
}

.product-list {
	float:left;
	padding: 10px;
}

.columns {
	width: 50%;
	float: left;
	margin-top: 20px;
}
