<nav>
<ul>
	<li class="button"><%= link_to "I am a market", markets_path%></li>
	<li class="button"><%= link_to "I am a vendor", vendors_path %></li>
</ul>
</nav>

<main>
	<ul>
		<% @markets.each do |market| %>
			<li class="main-list"><%= link_to market.name, application_path(market.id) %> </li>
		<% end %>
	</ul>
</main>
